li = link_to "sellf.org Intro", docs_path
li = link_to "Buying Data", docs_buying_path
li = link_to "Selling Your Data", docs_selling_path
li = link_to "Pricing Your Data", docs_pricing_path
li = link_to "Your Facebook Data", docs_facebook_path
li = link_to "Your Google Data", docs_google_path

