/*
*= require_tree
*= require_self
*= require tablesaw/dist/bare/tablesaw.bare
*/

#logo {
  height: 80px;
  margin-bottom: -40px;
}

/* http://getbootstrap.com/examples/sticky-footer/sticky-footer.css */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* set to footer height */
  margin-bottom: 100px;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 60px;
  /* fixed footer height here */
  height: 100px;
}


.navbar-default {
  border: none;
  background-color: inherit;
}
